{% extends 'base.html' %}

{% block conteudo %}
    <form action="/autenticar" method="POST" > 
        <!-- 

        ao clickar no botão OK, no submit vai para a rota /autenticar -->
        <!-- Quando trabalha com métodos GET (padrão) ou POST (declara method) --> 
        <br/><br/>
       
        Usuário: <input type = "text" name="nome_usuario" ><br/><br/>
        Senha  : <input type = "text" name="senha"><br/><br/>
        <button type = "submit">OK</button>
    </form>

{% endblock %}

